.log
{
    width: 30%;
    height: 10%;
}
.mr-top
{
    margin-top:1rem !important;
}
.text{
    margin-top: 1%;
}
.text1{
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 20px;
    color:#186ab4;
}

.text2{    font-size: 2vw;
    line-height: 70px;
    font-weight: 500;
    color:#186ab4;
}
.mar-t{
    margin-top: 14%;
    margin-left: -14%;
}
@media only screen and (max-width: 767px)
{
    .algnbt
    {
        display: flex;
        justify-content: center 
        
    }

}
/* @media only screen and (min-width: 1744px)
{
    .mar-t{
        margin-top: 16%;
        margin-left: -10%;
        
    }
    .text1{
        font-weight: 700;
        font-size: 130px;
        margin-bottom: 20px;
        color:#186ab4;
    }
    .text2{   
        font-size: 55px;
        line-height: 70px;
        font-weight: 500;
        color:#186ab4;
    }
}  */
/* @media only screen and (min-width: 1280px) and (max-width: 1280px)
{
    .mar-t{
        margin-top: 20%;
margin-left: -8%;
        
    }
}
@media only screen and (min-width: 1440px) and (max-width: 1440px)
{
    .mar-t{
        margin-top: 20%;
margin-left: -8%;
        
    }
} */


@media only screen and (max-width: 600px) 
{

} 

@media only screen and (min-width: 600px) {} 

@media only screen and (min-width: 768px) {} 

@media only screen and (min-width: 992px) {} 

@media only screen and (min-width: 1200px) {}