.mr-top
{
    margin-top:1rem !important;
}
.text{
    margin-top: 1%;
}
.text1{
    font-weight: 700;
    font-size: 52px;
    margin-bottom: 20px;
    color:#186ab4;
}

.text2{    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color:#186ab4;
}
.mar-t{
    margin-top: 14%;
    margin-left: -14%;
}
@media only screen and (max-width: 767px)
{
    .mar-t
    {
        margin-top: 1rem;
        margin-left: 0; 
    }
}
@media only screen and (min-width: 1744px)
{
    .mar-t{
        margin-top: 11%;
        margin-left: -23%;
    }
}
 