.but-sty .MuiButton-contained
{
  background-color: #186ab4;
  color: white;
 
}
.but-sty .MuiButton-contained:hover
{
  background-color:rgba(48,79,254,1);
}
/* @media only screen and (min-width: 1744px)
{
  .but-sty .MuiButton-label
  {
    font-size: 40px;
  }
} */