.btn-clr .MuiButton-containedPrimary
{
  background-color:#186ab4;
  
}
.btn-clr .MuiButton-containedPrimary:hover
{
  background-color:#186ab4;
}

.btn-clr .MuiStepIcon-root
{
  background-color:#186ab4 !important;
}
.sze
{
  font-size: 31px;
  color: #186ab4;
}
.pos-btn-right
{
  display: flex;
  position: absolute !important;
  top: 10vw;
  right: 15vw;
}
.pos-btn-left 
{
  display: flex !important;
  position: absolute !important;
  top: 10vw !important;
  left: 15vw !important;
}

@media only screen and (max-width: 900px)
{
  .pos-btn-right
  {
    display: none;
  }
  .pos-btn-left
  {
    display: none;
  }
}  
