.btn-clr .MuiButton-containedPrimary
{
  background-color:#186ab4;
  
}
.btn-clr .MuiButton-containedPrimary:hover
{
  background-color:#186ab4;
}

.btn-clr .MuiStepIcon-root
{
  background-color:#186ab4 !important;
}
.sze
{
  font-size: 31px;
  color: #186ab4;
}
.pos-btn-right
{
  display: flex;
  position: absolute !important;
  top: 10vw;
  right: 15vw;
}
.pos-btn-left 
{
  display: flex !important;
  position: absolute !important;
  top: 10vw !important;
  left: 15vw !important;
}

/* @media screen and (max-width: 995px) , screen and (max-height: 700px)  
{
  .pos-btn-right
{
  display: flex;
  position: absolute !important;
  top: 55%;
  right: 15%;
}
.pos-btn-left 
{
  display: flex !important;
  position: absolute !important;
  top: 55% !important;
  left: 15% !important;
}
} */